extends layout

block content
  Script.
    //$(document).ready(function(){
      //alert("#{val}");
    //});
  - var vv = ['1','2','3','4']
  - for(var v in vv)
    div
      label 3
      br
      input(type="text", id="pass",name="pass" placeholder="pass")
      br
      input(type="text", id="lv",name="lv",placeholder="lv")
      br
      button(type="button" onclick="signup()") submit